/* Styles specific to Year in Review page */

:root {
  --YIR-page-width: 1200px;

  --timeline-active-text-width: 400px;
  /* YIR-nav-body width + longer white line width + active li padding + YIR-nav-wrapper padding + */
  --timeline-total-width: calc(var(--timeline-active-text-width) + 35px + var(--feather-grid-medium) + 2 * var(--feather-grid-large));
  --nav-body-text-height: 80px;
  --timeline-element-border-height: 100vh;

  --metric-width: 520px;
  --font-size-metric-count: 4.6rem;
  --line-height-metric-count: 5rem;
}

/* General */

.YIR-wrapper {
  color: white;
  min-height: 100vh;
  position: relative;
}

.YIR-container {
  max-width: var(--YIR-page-width);
  margin: 0 auto;
}

.YIR-container-section {
  max-width: var(--YIR-page-width);
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Tables - Top 10 repos*/

table {
  font-weight: 600;
  font-size: var(--font-size-xjumbo);
}

th {
  font-size: var(--feather-font-size-jumbo);
  padding-bottom: var(--feather-grid-xxsmall);
}

tr.content {
  height: var(--line-height-xjumbo);
}

table.top-10-repos th {
  color: var(--tw-color-purple-faded);
}

table.top-10-repos td.num {
  color: var(--tw-color-purple-faded);
  text-align: right;
  padding-right: var(--feather-grid-xsmall);
}

table.top-10-repos td.repo {
  padding-right: calc(2 * var(--feather-grid-mega));
}

table.top-10-repos td.commit-value {
  text-align: right;
}

/* Metrics  */

img.emoji-outline {
	/* display: block; */
	height: 220px;
}

.metric-wrapper {
  margin-left: calc(var(--timeline-total-width) + 1.5 * var(--feather-grid-mega)); 
}

div.metric {
  max-width: var(--metric-width);
  margin-top: var(--feather-grid-large);
}

span.metric-count {
  font-weight: 600;
  font-size: var(--font-size-metric-count);
  line-height: var(--line-height-metric-count);
}

span.metric-name {
  font-weight: 600;
  font-size: var(--font-size-mini-jumbo);
  line-height: var(--line-height-mini-jumbo);
  padding-left: var(--feather-grid-xxsmall);
}

/* Sections */

section {
  height: 100vh;
}

section:nth-child(1) {
  background: var(--tw-color-blue-medium);
}

section:nth-child(2) {
  background: var(--tw-color-blue-medium);
}

section:nth-child(3) {
  background: var(--tw-color-purple-medium);
}

section:nth-child(4) {
  background: var(--tw-color-green-medium);
}

section:nth-child(5) {
  background: var(--tw-color-orange-medium);
}

section:nth-child(6) {
  background: var(--tw-color-yellow-deep);
}

section:nth-child(7) {
  background: var(--tw-color-red-medium);
}

section:nth-child(8) {
  background: var(--tw-color-blue-medium);
}

/* Timeline navigation */

.YIR-nav-wrapper {
  position: fixed;
  height: 100%;
  padding: var(--feather-grid-large);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.nav {
  margin: 0;
  margin-left: var(--feather-grid-large);
}

.YIR-nav-title {
  font-size: var(--feather-font-size-jumbo);
  font-weight: var(--feather-font-weight-bold);
  transition: all 0.15s ease-out;
}

.YIR-nav-body {
  width: var(--timeline-active-text-width);
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}

.nav li {
  position: relative;
  transition: all 0.3s ease-out;
  margin-bottom: var(--feather-grid-medium);
}

/* Shorter white lines */
.nav li:after {
  content: '';
  display: block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  position: absolute;
  height: var(--timeline-element-border-height);
  width: 20px;
  left: -30px;
  top: 12px;
}

.nav li a {
  display: block;
  padding: 0;
  color: white;
  transition: all 0.15s ease-out;
}

.nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}

.nav li a:focus {
  background-color: transparent;
}

/* Timeline navigation - active nav title */

.nav li.active {
  pointer-events: none;
  padding-left: var(--feather-grid-medium);
}

/* Longer white lines */
.nav li.active:after {
  height: var(--timeline-element-border-height);
  width: 35px;
  top: 35px;
}

.nav li.active .YIR-nav-title {
  font-size: var(--font-size-xxjumbo);
  line-height: var(--line-height-xxjumbo);
}

.nav li.active .YIR-nav-body {
  margin: 0;
  margin-top: var(--feather-grid-xsmall);
  height: var(--nav-body-text-height);
  opacity: 1;
  overflow: visible;
}

/* Top navigation */

nav {
  background-color: transparent;
}

a.home-link:link, a.home-link:visited {
  margin-right: var(--feather-grid-micro);
}

a.home-link:hover, a.home-link:active {
  color: white;
  opacity: 0.4;
}


a.YIR-link {
  color: white;
  opacity: 0.6;
  font-weight: 600;
}

a.YIR-link:hover {
  text-decoration: none;
  opacity: 0.2;
}