/* Styles specific to Year in Review page */

:root {

}

/* General */

.YIR-wrapper {
  min-height: 100vh;
  position: relative;
}

/* Timeline navigation */

.YIR-nav-wrapper {
  position: fixed;
  height: 100%;
  padding: var(--feather-grid-large);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.YIR-nav-counter {
  font-weight: var(--feather-font-weight-bold);
}
.nav {
  margin: 0 0 0 30px;
}
.YIR-nav-counter {
  font-size: var(--feather-font-size-jumbo);
  transition: all 0.15s ease-out;
}
.YIR-nav-title {
  /* font-size: 32px;
  font-weight: 400; */
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.YIR-nav-body {
  width: 400px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav li {
  position: relative;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}
.nav li:after {
  content: '';
  display: block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  height: 250px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 15px;
}
.nav li a {
  display: block;
  padding: 0;
  color: white;
  transition: all 0.15s ease-out;
}
.nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}
.nav li a:focus {
  background-color: transparent;
}
.nav li.active {
  pointer-events: none;
  padding-left: 1em;
}
.nav li.active:after {
  width: 35px;
  height: 400px;
  top: 35px;
}
.nav li.active .YIR-nav-counter {
  font-size: var(--font-size-xxjumbo);
  /* line-height: var(--line-height-xxjumbo); */
}
.nav li.active .YIR-nav-title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}
.nav li.active .YIR-nav-body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}

/* Sections */

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  background: var(--tw-color-blue-medium);
}

section:nth-child(2) {
  background: var(--tw-color-blue-medium);
}

section:nth-child(3) {
  background: var(--tw-color-purple-medium);
}

section:nth-child(4) {
  background: var(--tw-color-green-medium);
}

section:nth-child(5) {
  background: var(--tw-color-orange-medium);
}

section:nth-child(6) {
  background: var(--tw-color-yellow-deep);
}

section:nth-child(7) {
  background: var(--tw-color-red-medium);
}

section:nth-child(8) {
  background: var(--tw-color-blue-medium);
}
