---
layout: default
title: Memberships | Twitter Open Source
description: Twitter Open Source Website
keywords: twitter, open, source, open source, finatra, finagle, scala
url: https://opensource.twitter.com
custom_css: memberships.css
custom_js: memberships.js
---

<div class="header squad-header">
	<div class="Grid container">
		<div id="header-text" class="Grid-cell">
			<h1 class="large-title">#Squad</h1>
			<h1 class="squad-subheading">Our upstream and downstream partners who make open source happen</h1>
		</div>
	</div>
</div>

<div class="section">
	<div class="Grid membership-container container">
		{% for item in site.data.memberships %}
		<div class="Grid-cell sizeFull membership">
			<!-- Logo -->
			<img src="{{ item["logo"] }}" class="membership-logo">

			<div class="name-handle">
				<!-- Name -->
				<h2>{{ item["name"] }}</h2>

				<!-- Twitter handle -->
				{% if item["twitter"] %}
				<a href="https://twitter.com/{{ item["twitter"] }}" target="_blank" class="membership-handle">
					@{{ item["twitter"] }}
				</a>
				{% endif %}
			</div>

			<!-- Description -->
			<p>{{ item["description"] }}</p>

		    <!-- Visit website -->
		    {% if item["website"] %}
		    <button onclick="window.open('{{ item["website"] }}')" type="button" class="Button">Visit</button>
		    {% endif %}

		</div>
		{% endfor %}
	</div>
</div>
