{{ define "header" }}
<h1 class="large-title">Projects</h1>
<div class="search-bar">
    <input class="search-box" type="text" name="search" placeholder="Search Projects" autocomplete="off" />
    <svg id="search-icon" viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
</div>
{{ end }}

{{ define "content" }}
<!-- Container for no results text -->
<div class="container no-results-container"></div>

<!-- Projects grid (See renderProjects() in projects.js) -->
<div class="container all-projects"></div>
<!-- End of all-projects -->

<script type="text/javascript">
    let allProjects = [];
    {{ range $.Site.Data.projects }}
        allProjects.push({
            name: "{{ .name }}",
            nameWithOwner: "{{ .nameWithOwner }}",
            description: "{{ .descriptionHTML }}",
            {{- with .primaryLanguage }}
            color: "{{ .color }}",
            primaryLanguage: "{{ .name }}",
            {{ end -}}
            homepageURL: "{{ .homepageUrl }}",
            pushedAt : "{{ .pushedAt }}",
            languages : "{{ .languages }}",
            forks : "{{ .forkCount }}",
            topics : "{{ .repositoryTopics }}",
            stars : "{{ .stargazers }}",
            watchers : "{{ .watchers }}",
        })
    {{ end }}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js" async></script>
{{ end }}
