{{ define "header" }}
<h1 class="large-title">Projects</h1>

<h3><div id="results" class="container hide">Found <span class="count"></span> results for <span class="query"></span></div>
</h3>
<div id="search-bar" style="display: none;">
    <input id="search-box" type="text" name="search" placeholder="Search Projects" autocomplete="off" autofocus />
    <svg id="search-icon" viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
</div>
<br>
<!-- Programming Languages Filter -->
<div class="language-filters">
    <h1>Filter by Programming Languages</h1>
    <div id="language-buttons"></div>
    <button id="all-button" class="all-button">All Languages</button>
</div>

{{ end }}

{{ define "content" }}
<div class="container all-projects">
    {{ range sort $.Site.Data.projects "pushedAt" "desc" -}}
    <div class="project-card" id="{{ .nameWithOwner }}">
        <div class="proj-card-bground">
        <h1 class="project-name small-margin">{{ .name }}</h1>
        <div class="border small-margin"{{ with .primaryLanguage }} style="border-bottom-color:{{ .color }}"{{ end }}></div>
        <div class="project-description xsmall-margin">{{ .descriptionHTML | safeHTML }}</div>
        <br>
        <p class="project-language">Language: {{ with .primaryLanguage }}{{ .name }}{{ end }}</p>
        <div class="whitespace"></div>
        <a href="https://twitter.github.io/metrics/{{ .nameWithOwner }}/WEEKLY" class="proj-links">Metrics</a>
        <br>
        <br>
        <a href="https://github.com/{{ .nameWithOwner }}" class="proj-links" target="_blank" rel="noopener">GitHub</a>
        <br>
        <br>
        {{ with .homepageUrl }}<a href="{{ . }}" class="proj-links" target="_blank" rel="noopener">Website</a>{{ end }}
        <br>
        <br>
        </div>
    </div>
    {{ end }}
</div>
<script>
    document.getElementById("search-bar").style.display = "flex";

    const projectCard = Array.from(document.getElementsByClassName("project-card"));
    const searchBOX = document.getElementById("search-box");
    const filterProjects = [];
    const languageColors = {}; // Initialize an empty object to store language colors
    const languageButtons = document.querySelectorAll('.language-button');
    // Get the total count of programming languages
    const totalLanguages = Object.keys(languageColors).length;

    // Display language filter buttons with corresponding colors
    const languageButtonsContainer = document.getElementById('language-buttons');
    // Create an "All" button
    const allButton = document.getElementById('all-button');
    // parse cards to build project list
    const project = []
    projectCard.forEach(card => {
        project.push({
            id: card.id,
            name: card.getElementsByClassName("project-name")[0].innerText,
            description: card.getElementsByClassName("project-description")[0].innerText,
            language: card.getElementsByClassName("project-language")[0].innerText,
        })
    });

    // Start filter by programming languages logic.
    projectCard.forEach(project => { // Iterate over each project to collect language colors
        const languageElement = project.querySelector('.project-language');
        const language = languageElement.textContent.trim().split(':')[1].trim();
        const borderColor = project.querySelector('.border').style.borderBottomColor;
        if (language && borderColor) {
            languageColors[language] = borderColor;
        }
        filterProjects.push({
            id: project.id,
            name: project.getElementsByClassName("project-name")[0].innerText,
            description: project.getElementsByClassName("project-description")[0].innerText,
            language: language,
        });
    });
    allButton.addEventListener('click', () => {
        // Show all projects
        projectCard.forEach(project => {
            project.style.display = 'block';
        });
    });

    // Append the "All" button to the container
    languageButtonsContainer.appendChild(allButton);
    Object.entries(languageColors).forEach(([language, color]) => {
        const button = document.createElement('button');
        button.textContent = language;
        button.style.backgroundColor = color;
        button.classList.add('language-button');
        button.addEventListener('click', () => {
            // Filter projects based on the selected language
            projectCard.forEach(project => {
                const languageElement = project.querySelector('.project-language');
                const projectLanguage = languageElement.textContent.trim().split(':')[1].trim();
                project.style.display = projectLanguage === language ? 'block' : 'none';
            });
        });
        languageButtonsContainer.appendChild(button);
    });
    // Get the necessary elements
    const countElement = document.querySelector('#results .count');
    const searchBar = document.getElementById('search-bar');

    // Function to perform the search and update the count
    function performSearch() {
        const searchTerm = searchBOX.value.trim().toLowerCase(); // Get the search term
        const activeLanguageButtons = Array.from(languageButtons).filter(button => button.classList.contains('active')); // Get active language buttons
        let filteredProjects = project; // Initialize filtered projects with all projects
        // Here you would perform your search logic, for demonstration, let's assume you have a list of projects
        if (activeLanguageButtons.length > 0) {
            const activeLanguages = activeLanguageButtons.map(button => button.textContent.trim()); // Get names of active languages
            filteredProjects = project.filter(project => activeLanguages.includes(project.language)); // Filter projects based on active languages
        }

        // Filter projects based on search term
        filteredProjects = filteredProjects.filter(project => project.name.toLowerCase().includes(searchTerm)); // Filter projects based on search term

        // const filteredProjects = project.filter(proj => proj.name.toLowerCase().includes(searchTerm)); // Filter projects based on search term
        const count = filteredProjects.length; // Get the count of filtered projects
        countElement.textContent = count; // Update the count element with the count
    }

    // Event listener for input in the search box
    searchBOX.addEventListener('input', () => {
        performSearch(); // Perform search whenever there's an input
    });

    languageButtons.forEach(button => {
        button.addEventListener('click', () => {
            button.classList.toggle('active'); // Toggle active class on button click
            performSearch(); // Perform search whenever a language filter button is clicked
        });
    });

    performSearch();
</script>
{{ end }}
