body {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ccc;
  line-height: 1.4;
  color: #666;
  min-width: 960px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

a:link, a:visited {
  color: #0084b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

#main {
  height: 400px;
  text-align: center;
}

.grid {
  margin-bottom: 20px;
}

.repo {
  background: white;
  background: rgba(255, 255, 255, 0.7);
  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0,0,0,.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0,0,0,.1);
}

#main h2 {
  margin: 25px 0;
  font-size: 23px;
}

#logo {
  width: 200px;
  height: 200px;
  margin: 15px 0 0 15px;
  background: url("moj-crest.png") 50%;
  background-size: 200px;
  text-indent: -99999px;
  margin: 20px auto;
}

.header {
  height: 130px;
}

.header h2,
.header p {
  margin: 10px 15px 10px;
}

#num-repos,
#num-members {
  font-size: 14px;
  font-weight: bold;
  color: #0084b4;
  line-height: 15px;
}

#statistics a {
  color: inherit;
}

#statistics .email {
  margin-top: -5px;
  font-size: 12px;
}

#recently-updated h2 a {
  font-weight: normal;
  font-size: 12px;
}

#recently-updated-repos {
  margin-left: 15px;
}

#recently-updated-repos li {
  line-height: 1.5;
}

#recently-updated-repos li span {
  display: inline-block;
  padding: 0 1px;
}

#recently-updated-repos li span {
  font-size: 11px;
}

#recently-updated-repos li .name {
  padding: 0 6px 0 0;
  font-size: 13px;
}

#recently-updated-repos li .time a,
#recently-updated-repos li .watchers a,
#recently-updated-repos li .forks a {
  color: #999;
}

.repo {
  height: 250px;
}

.repo .language {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6px;
  background: #ddd;
}

.repo > a {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-decoration: none;
  padding: 15px;
  color: inherit;
  -webkit-transition: 120ms;
  -moz-transition: 120ms;
  transition: 120ms;
}

.repo a:hover {
  background: white;
}

.repo h2 {
  margin-bottom: 10px;
  line-height: 1.1;
  word-break: break-word;
  word-wrap: break-word;
}

.repo h3 {
  font-size: 11px;
  margin-bottom: 10px;
  color: #999;
}
