<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="footer-cell footer-margin">
            <a href="{{ " projects" | relURL }}" class="Button Button--large" aria-label="Explore Projects">Explore
                Projects</a>
        </div>
        <div class="footer-cell footer-margin">
            <h3 class="xsmall-margin">
                <a class="foot-link" target="_blank" rel="noopener" href="https://about.twitter.com/"
                    aria-label="About Twitter">About</a>
            </h3>
            <a class="foot-link" target="_blank" rel="noopener"
                href="https://about.twitter.com/en/who-we-are/twitter-for-good" aria-label="Twitter for Good">Twitter
                for Good</a>
            <a class="foot-link" target="_blank" rel="noopener" href="https://careers.twitter.com/"
                aria-label="Twitter Careers">Careers</a>
        </div>

        <div class="footer-cell footer-margin">
            <h3 class="xsmall-margin">
                <a class="foot-link" target="_blank" rel="noopener" href="https://blog.twitter.com/"
                    aria-label="Twitter Blogs">Blogs</a>
            </h3>
            <a class="foot-link" target="_blank" rel="noopener"
                href="https://blog.twitter.com/engineering/en_us/topics/open-source.html"
                aria-label="Twitter Open Source">Open Source</a>
            <a class="foot-link" target="_blank" rel="noopener" href="https://blog.twitter.com/engineering"
                aria-label="Twitter Engineering">Engineering</a>
            <a class="foot-link" target="_blank" rel="noopener" href="https://blog.twitter.com/developer"
                aria-label="Twitter Developer">Developer</a>
        </div>

        <div class="footer-cell footer-margin">
            <h3 class="xsmall-margin">
                <a class="foot-link" target="_blank" rel="noopener" href="https://developer.twitter.com/"
                    aria-label="Twitter Developers">Developers</a>
            </h3>
            <a class="foot-link" target="_blank" rel="noopener" href="https://developer.twitter.com/docs"
                aria-label="Twitter Documentation">Documentation</a>
            <a class="foot-link" target="_blank" rel="noopener" href="https://twittercommunity.com/"
                aria-label="Twitter Forums">Forums</a>
            <a class="foot-link" target="_blank" rel="noopener" href="https://developer.twitter.com/community"
                aria-label="Twitter Communities">Communities</a>
        </div>

        <div class="footer-cell">
            © {{ now.Format "2006"}} Twitter, Inc.
        </div>

        <div class="footer-cell">
            <a class="foot-link" target="_blank" rel="noopener"
                href="https://help.twitter.com/rules-and-policies/twitter-cookies"
                aria-label="Twitter Cookies Policy">Cookies</a>
        </div>

        <div class="footer-cell">
            <a class="foot-link" target="_blank" rel="noopener" href="https://twitter.com/privacy"
                aria-label="Twitter Privacy Policy">Privacy</a>
        </div>

        <div class="footer-cell">
            <a class="foot-link" target="_blank" rel="noopener" href="https://twitter.com/tos"
                aria-label="Twitter Terms and Conditions">Terms and Conditions</a>
        </div>
    </div>
</div> <!-- End of Footer -->