    <!-- Footer -->
    <div class="footer">
        <div class="Grid container">
            <div class="Grid-cell footer-cell u-size1of4 footer-margin">
                <a href="{{ "projects" | relURL }}" class="Button Button--large">Explore Projects</a>
            </div>
            <div class="Grid-cell footer-cell u-size1of4 footer-margin">
                <h3 class="xsmall-margin">
                    <a class="foot-link" target="_blank" href="https://about.twitter.com/">About</a>
                </h3>
                <a class="foot-link" target="_blank" href="https://about.twitter.com/en/who-we-are/twitter-for-good">Twitter for Good</a>
                <a class="foot-link" target="_blank" href="https://careers.twitter.com/">Careers</a>
            </div>

            <div class="Grid-cell footer-cell u-size1of4 footer-margin">
                <h3 class="xsmall-margin">
                    <a class="foot-link" target="_blank" href="https://blog.twitter.com/">Blogs</a>
                </h3>
                <a class="foot-link" target="_blank" href="https://blog.twitter.com/engineering/en_us/topics/open-source.html">Open Source</a>
                <a class="foot-link" target="_blank" href="https://blog.twitter.com/engineering">Engineering</a>
                <a class="foot-link" target="_blank" href="https://blog.twitter.com/developer">Developer</a>
            </div>

            <div class="Grid-cell footer-cell u-size1of4 footer-margin">
                <h3 class="xsmall-margin">
                    <a class="foot-link" target="_blank" href="https://developer.twitter.com/">Developers</a>
                </h3>
                <a class="foot-link" target="_blank" href="https://developer.twitter.com/docs">Documentation</a>
                <a class="foot-link" target="_blank" href="https://twittercommunity.com/">Forums</a>
                <a class="foot-link" target="_blank" href="https://developer.twitter.com/community">Communities</a>
            </div>

            <div class="Grid-cell footer-cell u-size1of4">
                <a class="foot-link" href="">© {{ now.Format "2006"}} Twitter, Inc.</a>
            </div>

            <div class="Grid-cell footer-cell u-size1of4">
                <a class="foot-link" target="_blank" href="https://help.twitter.com/rules-and-policies/twitter-cookies">Cookies</a>
            </div>

            <div class="Grid-cell footer-cell u-size1of4">
                <a class="foot-link" target="_blank" href="https://twitter.com/privacy">Privacy</a>
            </div>

            <div class="Grid-cell footer-cell u-size1of4">
                <a class="foot-link" target="_blank" href="https://twitter.com/tos">Terms and Conditions</a>
            </div>

        </div>
    </div> <!-- End of Footer -->

