<!-- Global site tag (gtag.js) - Google Analytics -->
 
<script>
  
  var storedTheme = (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
  
  function switchTweetTheme(){
    var ans;
    if(storedTheme=="dark")ans = "dark";
    else ans = "light";
    var x = document.getElementsByClassName('twitter-timeline');

    console.log(x.length);
      for(var i=0;i<x.length;i++){
        if(ans=="dark")x[i].setAttribute('data-theme','dark');
        else x[i].setAttribute('data-theme','light');
      }
      // window.location.reload();
    }
    switchTweetTheme();
</script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30775-124"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-30775-124');
</script>