<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30775-124"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-30775-124');
</script>

<script>
  var navb = document.getElementsByClassName('toggle');
  var cont = document.getElementsByClassName('toggle-cont');
  var project = document.getElementsByClassName('toggle-project')[0];
  var greysec = document.getElementsByClassName('greyish');
  var bts = document.getElementsByClassName('button-toggle');
  var inputbox = document.getElementsByClassName('search-box')[0];
  // var sec = document.getElementsByClassName('toggler')[0];
  var btnnew = document.getElementsByClassName('search-bar')[0];
  var btx = document.getElementsByClassName('togg-butt')[0];
  var flock = document.getElementsByClassName('flock-toggle')[0];
  // var project_page = document.getElementById('project_page');

  function togglefunction(){
      // console.log(navb.style.backgroundColor);
      for(var i=0;i<navb.length;i++){
          if(navb[i].style.backgroundColor == 'black'){
              navb[i].style.backgroundColor = 'var(--tw-color-blue-primary)';
          }else{
              navb[i].style.backgroundColor = 'black';
          }
      }

      for(var i=0;i<cont.length;i++){
          if(cont[i].style.color == 'white'){
              cont[i].style.color = 'black';
          }else{
              cont[i].style.color = 'white';
          }
      }

      for(var i=0;i<greysec.length;i++){
          if(greysec[i].style.backgroundColor == 'var(--tw-color-gray-faint)'){
              greysec[i].style.backgroundColor = '#787878';
          }else{
              greysec[i].style.backgroundColor = 'var(--tw-color-gray-faint)';
          }
      }

      for(var i=0;i<bts.length;i++){

          if(bts[i].style.color == 'var(--tw-color-blue-primary)'){
              bts[i].style.color = 'black';
          }else{
              bts[i].style.color = 'var(--tw-color-blue-primary)';
          }

      }

      if(btx.textContent  == "DARK MODE"){
        btx.textContent  = "LIGHT MODE";
      }else{
        btx.textContent  = "DARK MODE";
      }

      if(flock.style.backgroundColor == 'white'){
          flock.style.backgroundColor = '#787878';
      }else{
          flock.style.backgroundColor = 'white';
      }

      // if(project_page.style.backgroundColor == 'white'){
      //   project_page.style.backgroundColor = '#B8B8B8';
      // }else{
      //   project_page.style.backgroundColor = 'white';
      // }

      // if(btnnew.style.backgroundColor == 'var(--tw-color-blue-light)'){
      //     btnnew.style.backgroundColor = 'white';
      // }else{
      //     btnnew.style.backgroundColor = 'var(--tw-color-blue-light)'
      // }

      // console.log(inputbox.classList.contains('toadd'));
      // if(inputbox.classList.contains('toadd')){
      //   inputbox.classList.remove('toadd');
      //   inputbox.classList.add('white');
      // }else{
      //   inputbox.classList.add('toadd');
      //   inputbox.classList.remove('white');
      // }

      if(project.style.backgroundColor == 'white'){
        project.style.backgroundColor = 'black';
      }else{
        project.style.backgroundColor = 'white';
      }

     

  }
</script>
