<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script>
function getcol(){
    var atags = document.getElementsByClassName('twitter-timeline');
    var storedTheme = (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");

    if(storedTheme == "dark"){
      for(var i=0;i<atags.length;i++){
        atags[i].data-theme = "dark";
      }
    }
    else {
      for(var i=0;i<atags.length;i++){
        atags[i].data-theme = "light";
      }
    }
}
getcol();
</script> -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30775-124"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-30775-124');
</script>
