    <!-- Navigation Bar -->
    <nav>
        <div class="nav-title">
            <span class="Icon Icon--logo Icon--large"></span>

            <!-- Link in web -->
            <a class="home-link" href="{{ .Site.BaseURL }}">Twitter Open Source</a>

            <!-- Text in mobile -->
            <p class="home-text">Twitter Open Source</p>
            <span id="caret" class="Icon Icon--caretDown"></span>
        </div>
        <ul class="nav-menu">
            <!-- This link only exists in mobile -->
            <li id="extra-mobile-link" class="nav-list-item">
                <a class="nav-link" href="{{ .Site.BaseURL }}">Twitter Open Source</a>
            </li>

            <li class="nav-list-item">
                <a class="nav-link" href="{{ "projects" | relURL }}">Projects</a>
            </li>

            <li class="nav-list-item">
                <a class="nav-link" href="{{ "memberships" | relURL }}">#Squad</a>
            </li>

            <li class="nav-list-item">
              <a class="nav-link" href="{{ "year-in-review" | relURL }}">Year in Review</a>
            </li>

            <li class="nav-list-item">
                <a class="nav-link" href="https://blog.twitter.com/engineering/en_us/topics/open-source.html" target="_blank">Blog</a>
            </li>

            <li class="nav-list-item list-end">
                <a class="nav-link" href="https://github.com/twitter" target="_blank">GitHub</a>
            </li>
        </ul>
    </nav>

