    <!-- Navigation Bar -->
    <nav>
        <div class="nav-title">
            <a class="home-link" href="{{ "" | relURL }}">
                <img src="/assets/twitter-logo.svg" alt="Twitter">
                Open Source
            </a>
        </div>
        <a id="menu-toggle" href="#" onclick="document.getElementById('nav-menu').classList.toggle('active'); return false;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
        </a>
        <ul id="nav-menu">
            {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}"{{ if not (hasPrefix .URL "/") }} target="_blank" rel="noopener"{{ end }}>{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </nav>