<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="title" content="{{ page.title }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">

    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:url" content="{{ page.url }}">
    <!-- <meta name="og:image" content="{{ page.logo }}"> -->
    <meta name="og:description" content="{{ page.description }}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ page.url }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <!-- <meta name="twitter:image" content="{{ page.logo }}" /> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv='Expires' content='0'>
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Cache-Control' content='no-cache'>
    <meta http-equiv='imagetoolbar' content='no'>

    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.ico"/>

    <!-- Year in Review timeline effect CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    
    <!-- Feather CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/feather-core.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/feather-component-grid.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/feather-component-button.css"/>

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ page.custom_css }}"/>
  </head>

  {{ content }}
    
</html>

<!-- TypeIt JS for typing header effect -->
<script src="https://cdn.jsdelivr.net/npm/typeit@6.0.3/dist/typeit.min.js"></script>

<!-- Year in Review timeline effect JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

<!-- Twemoji -->
<!-- <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script> -->

<script src="{{ site.baseurl }}/js/main.js"></script> 
<script src="{{ site.baseurl }}/js/{{ page.custom_js }}"></script>

{% include ga.html %}
